html{
	font-size: 14px;
}

body{
	perspective: 1500px; /* 3d 효과가 얼마나 멀리서 이루어지는가 (높을수록 완만) */
	position: relative;
	height:100vh;
}

.reflet{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin: auto;
	width:30vw;
	height:30vw;
	outline: 2px solid black;
	transform-style: preserve-3d;
}

.page, .page-face{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.page{
	transform: rotateY(0deg);
	outline:1px solid red;
	transform-style: preserve-3d;
	transition:1s;
}

.page:nth-child(1){
	z-index:2;
	transform-origin: left;
}

.page:nth-child(1).page_flipped{
	transform:rotateY(-150deg);
}

.page:nth-child(3){
	z-index:1;
	transform-origin:right;
}

.page:nth-child(3).page_flipped{
	transform:rotateY(150deg);
}

.page-face{
	background:cornsilk;
	font-size:3rem;
	backface-visibility:hidden;
}

.page-face:nth-child(2){
	transform:rotateY(180deg);
}